<%= form_with(model: movie_review, local: true) do |form| %>
  <% if movie_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie_review.errors.count, "error") %> prohibited this movie_review from being saved:</h2>

      <ul>
        <% movie_review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :movie_id %>
    <%= form.number_field :movie_id %>
  </div>

  <div class="field">
    <%= form.label :review %>
    <%= form.text_area :review %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
