<%= form_with(model: movie_review, local: true) do |form| %>
  <% if movie_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie_review.errors.count, "error") %> prohibited this movie_review from being saved:</h2>

      <ul>
        <% movie_review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :user_id,"ユーザーのID", class:"form-label"%>
    <%= form.number_field :user_id, class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :movie_id, "映画のID", class:"form-label"%>
    <%= form.number_field :movie_id, class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :review, "レビュー", class:"form-label"%>
    <%= form.text_area :review, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
