<%= form_with(model: actor, local: true) do |form| %>
  <% if actor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(actor.errors.count, "error") %> prohibited this actor from being saved:</h2>

      <ul>
        <% actor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :name,"名前", class:"form-label" %>
    <%= form.text_field :name, class:"form-control" %>
  </div>
  
  <div class="field mb-3">
    <%= form.label :age, "年齢", class:"form-label" %>
    <%= form.number_field :age, class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :description,"インフォメーション", class:"form-label" %>
    <%= form.text_area :description, class:"form-control" %>
  </div>

  <div class="field mb-3">
      <%= form.label :image, class:"form-label" %>
      <%= form.file_field :image, class:"form-control" %><br>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
