<p id="notice"><%= notice %></p>

<h1>アクター</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>名前</th>
      <th>年齢</th>
      <th>インフォメーション</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <td><%= actor.name %></td>
        <td><%= actor.description %></td>
        <td><%= actor.age %></td>
        <td><%= link_to '見せる', actor, class:"btn btn-success",　method: :get %></td>
        <td><%= link_to '修正', edit_actor_path(actor), class:"btn btn-warning", method: :get, class:"btn btn-warning" %></td>
        <td><%= link_to '削除', actor, method: :delete, class: "btn btn-info", data: { confirm: 'Are you sure?' }, class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しいアクターの追加', new_actor_path, method: :get, class:"btn btn-primary" %>
