<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3" >
    <%= form.label :title, "タイトル", class:"form-label" %>
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :description, "インフォメーション", class:"form-label" %>
    <%= form.text_area :description, class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :length, "長さ", class:"form-label" %>
    <%= form.number_field :length, class:"form-control" %>
  </div>

   <div class="field mb-3">
    <%= form.label :directors, "ディレクター", class:"form-label" %>
    <%= form.text_area :directors, class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :actors, "アクター", class:"form-label" %>
    <%= form.text_area :actors, class:"form-control" %>
  </div>

 <div class="field mb-3">
    <%= form.label :category, "カテゴリー", class:"form-label" %>
    <%= form.text_field :category, class:"form-control" %>
  </div>
  
  <div class="field mb-3">
      <%= form.label :image, "写真", class:"form-label" %>
      <%= form.file_field :image, class:"form-control" %><br>
   </div>

  <div class="actions">
    <%= form.submit class:"btn btn-danger" %>
  </div>
  
<% end %>
