<p id="notice"><%= notice %></p>

<h1>ディレクター</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>名前</th>
      <th>キャリア</th>
      <th>受賞</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @directors.each do |director| %>
      <tr>
        <td><%= director.name %></td>
        <td><%= director.career %></td>
        <td><%= director.awards %></td>
        <td><%= link_to '見せる', director, class:"btn btn-success", method: :get %></td>
        <td><%= link_to '修正',  edit_director_path(director), class:"btn btn-warning", method: :get %></td>
        <td><%= link_to '削除', director, method: :delete, class: "btn btn-info", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しいディレクターの追加',  new_director_path, method: :get, class:"btn btn-primary" %>
